*.png
*.jpg
*.engine
*.onnx

YOLOX_outputs/

build/

.idea/


**/__pycache__/

test.py


buff-*/



**/instances_train2017.json
**/instances_val017.json
datasets/TUP-Armor-Dataset/annotations/instances_train2017.json
